body{
    background: silver;
}
.carousel-inner img {   
    border-radius: 23px;
    display:block;
    height: auto; 
    margin: auto;
    max-height: 430px;
    max-width: 75%;
    position: relative;   
    top: 10px;
 }
 .navbar{
    background: none;
    border-radius: 23px;
    height: auto; 
    margin: auto;
    max-width: 75%;
    padding: 0%;
}
 .nav-item:hover{
     padding: 0%;
     background: white;
 }