body {
  background-color: #f5cb5f;
  position: absolute;
  border-radius: 50%;
}
h4 {
  padding-top: 25px;
  background: white;
  display: block;
  height: auto;
  margin: auto;
  max-height: 430px;
  max-width: 75%;
  text-align: center;
}
.carousel-inner img {
  border-radius: 23px;
  display: block;
  height: auto;
  margin: auto;
  max-height: 430px;
  max-width: 75%;
  position: relative;
  top: 10px;
}
.navbar {
  background: none;
  border-radius: 5px;
  height: auto;
  margin: auto;
  max-width: 75%;
  padding: 0%;
  background: none;
}

.nav-item:hover {
  padding: 0%;
  background: white;
}
.portada {
  background: white;
  display: block;
  height: auto;
  margin: auto;
  max-height: 430px;
  max-width: 75%;
  text-align: center;
}

h4 {
  text-align: center;
}
.video-responsive {
  height: 0;
  overflow: hidden;
  top: 25px;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.contacto{
  background: none;
  border-radius: 5px;
  height: auto;
  margin: auto;
  max-width: 100%;
  padding: 0%;
  background-color:rgba(238, 231, 231, 0.397);
  opacity:0.6;
  filter:alpha(opacity=60); /* IE < 9.0 */
}
.contac{
  display: inline-block;
  width: 68%;
  height: 100%;
}
.qr{
  display: inline-block;
  width: 31%;
  height: 50%;
}
.endpage{
  background-color:rgba(238, 231, 231, 0.397);
  opacity:0.6;
  filter:alpha(opacity=60); /* IE < 9.0 */
}
.qr1{
  height: 900%;
  width: 90%;
}
h5{
  font-size: 95%;
  text-align: center;
}